{% extends 'base.html.twig' %}

{% block body %}
	
	<h2 class="page-header">Latest Todos</h2>
  	<table class="table table-condensed">
		<thead>
			<tr>
				<th>#</th>
				<th>TODO</th>
				<th>Due Date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% for todo in todos %}
			<tr>
				<th scope="row">{{todo.id}}</th>
				<td>{{todo.name}}</td>
				<td>{{todo.dueDate|date('F j, Y, g:i a')}}</td>
				<td>
					<a href="/SymfonyProject/TODO/web/app_dev.php/todo/details/{{todo.id}}" class="btn btn-success">VIEW</a>

					<a href="/SymfonyProject/TODO/web/app_dev.php/todo/edit/{{todo.id}}" class="btn btn-default">EDIT</a>

					<a href="/SymfonyProject/TODO/web/app_dev.php/todo/delete/{{todo.id}}" class="btn btn-danger">DELETE</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock %}